@font-face {
    font-family: Roboto;
    src: url(../fonts/roboto-regular.ttf);
}

@font-face {
    font-family: Raleway-medium;
    src: url(../fonts/raleway-medium.ttf);
}

@font-face {
    font-family: Raleway-extrabold;
    src: url(../fonts/raleway-extrabold.ttf);
}

@font-face {
    font-family: Raleway-semibold;
    src: url(../fonts/raleway-semibold.ttf);
}

@font-face {
    font-family: Raleway-bold;
    src: url(../fonts/raleway-bold.ttf);
}

@font-face {
    font-family: Raleway;
    src: url(../fonts/raleway-regular.ttf);
}

@font-face {
    font-family: Montserrat;
    src: url(../fonts/montserrat-light.ttf);
}

@font-face {
    font-family: Montserrat-regular;
    src: url(../fonts/montserrat-regular.ttf);
}

@font-face {
    font-family: Montserrat-extralight;
    src: url(../fonts/montserrat-extralight.ttf);
}

.contain {
    width: 100%;
    margin: 0 auto;
}

body {
    width: 100%;
    margin: 0 auto;
    padding: 0;

}

.top {
    background: url(../img/mountains.png);
    background-size: cover;
    width: auto;
    height: auto;
    padding: 0 0 42px 0;


}

.logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 181px;
    text-decoration: none;
    fill: #ffffff;
    color: #ffffff;
    font-family: Raleway;
    font-size: 34px;
    line-height: 1.2;
    font-weight: 400;
    letter-spacing: -0.04em;
    color: #ffffff;
    margin: 55px 220px 0 0;
    transition: 0.4s;
}

.logo:hover {
    color: #c7b299;
    fill: #c7b299;
}

.logo:active {
    fill: #362f2d;
    color: #362f2d;
}

#menu__toggle {
    opacity: 0;
}

#menu__toggle:checked ~ .menu__btn > span {
    transform: rotate(45deg);
}

#menu__toggle:checked ~ .menu__btn > span::before {
    top: 0;
    transform: rotate(0);
}

#menu__toggle:checked ~ .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
}

#menu__toggle:checked ~ .menu__box {
    visibility: visible;
    left: 0;
}

.menu__btn {
    display: none;
    align-items: center;
    position: fixed;
    top: 20px;
    left: 20px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 3;
}

.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
    display: block;
    position: absolute;
    width: 26px;
    height: 2px;
    background-color: #c7b299;
    transition-duration: 0.25s;
}

.menu__btn > span::before {
    content: '';
    top: -8px;
}

.menu__btn > span::after {
    content: '';
    top: 8px;
}

.menu__box {
    margin: 0;
    display: none;
    position: fixed;
    visibility: hidden;
    top: 0;
    padding: 0 0 0 44px;
    list-style: none;
    background-color: #ECEFF1;
    box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
    transition-duration: .25s;
    z-index: 2
}

.menu__item {
    display: block;
    padding: 12px 19px;
    color: #333;
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    transition-duration: .25s;
}

.menu__item:hover {
    background-color: #CFD8DC;
}

.menu {
    display: flex;
    justify-content: center;
    margin: 0 0 256px 0;
}

.top-lists {
    display: flex;
    margin: 62px 0 0 0
}


.top-list {
    font-family: Montserrat;
    font-size: 14px;
    line-height: 1.2;
    color: #ffffff;
    text-decoration: none;
    margin: 0 30px 0 0;
    transition: 0.4s;
}

.top-list:hover {
    color: #c7b299;
}

.top-list:active {
    color: #362f2d;
}

.top-list-img1 {
    margin: 0 28px 0 63px;
    fill: #ffffff;
    transition: 0.4s;
}

.top-list-img2 {
    fill: #ffffff;
    transition: 0.4s;
}

.top-list-img1:hover {
    fill: #c7b299;
}

.top-list-img2:hover {
    fill: #c7b299;
}

.top-list-img1:active {
    fill: #362f2d;
}

.top-list-img2:active {
    fill: #362f2d;
}

.top-center {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    position: relative;
}

.top-center-texts {
    width: 600px;
    min-height: 45px;
    text-align: center;
}

.top-name {
    font-family: Raleway-medium;
    font-size: 36px;
    line-height: 1.2;
    color: #ffffff;
}

.top-teg {
    font-family: Raleway-extrabold;
    font-size: 52px;
    line-height: 1.2;
    color: #ffffff;
    margin: 14px 0 19px 0;
}

.top-text {
    box-sizing: border-box;
    font-family: Montserrat;
    font-size: 16px;
    line-height: 24px;
    color: #ffffff;
    margin: 0 auto;
    width: 500px;
}

.top-button {
    width: 170px;
    height: 53px;
    background-color: #998675;
    font-family: Raleway;
    border: none;
    font-size: 14px;
    line-height: 23px;
    border-radius: 3px;
    text-transform: uppercase;
    color: #ffffff;
    margin: 52px 0 330px 0;
    transition: 0.3s;
}

.top-button:hover {
    background-color: #362f2d;

}

.top-button:active {
    background-color: #555555;
}

.switch {
    display: block;
    background-image: url(../img/left.png);
    width: 40px;
    height: 73px;
    margin: -200px 0 0 5%;
}

.switch1 {
    display: block;
    background-image: url(../img/left.png);
    transform: scaleX(-1);
    width: 40px;
    height: 73px;
    margin: -200px 5% 0 0;
}

.switch:hover {
    background-image: url(../img/right.png);
    transform: scaleX(-1);
}

.switch1:hover {
    transform: scaleX(1);
    background-image: url(../img/right.png);
}

.switch:active {
    filter: brightness(25%);
}

.switch1:active {
    filter: brightness(25%);
}

.points {
    margin: 0 auto;
    width: 100px;
    height: 15px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.point {
    opacity: 0.5;
    background-color: #ffffff;
    width: 11px;
    height: 11px;
    border-radius: 50%;
    margin: 0 9px 0 0;
}

.point:last-of-type {
    margin: 0;
}

.point:hover {
    width: 15px;
    height: 15px;
    background: none;
    border: 2px solid #d3c1ad;
    transition: border 0.4s ease 0s
}

.center-features {
    display: flex;
    justify-content: center;
}

.features {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 300px;
    padding: 10px 10px 0 10px;
    box-sizing: border-box;
    margin: 80px 33px 80px 0;
   
}

.features:after {
    content: "";
    display: block;
    width: 150px;
    height: 3px;
    background-color: #555555;
    transition: 0.4s;
}

.features:hover .features-icon {
    fill: #c7b299;
}

.features:hover .features-title {
    color: #c7b299;
}

.features:hover:after {
    background-color: #c7b299;
}

.features-icon {
    display: block;
    fill: #555555;
    margin: 0 0 20px 0;
    transition: 2s;
}

.features-title {
    font-family: Raleway-semibold;
    font-size: 22px;
    line-height: 1.2;
    font-weight: 600;
    color: #555555;
    width: 100%;
    margin: 0 0 20px 0;
    text-align: center;
    transition: 0.4s;
}

.features-txt {
    font-family: Montserrat;
    font-size: 14px;
    line-height: 24px;
    font-weight: 300;
    color: #8c8c8c;
    text-align: center;
}

.sites {
    padding: 83px;
    text-align: center;
    min-height: 700px;
    background-color: #fbfaf8;
    background-image: url(../img/imgcenter.png),
        url(../img/imgleft.png),
        url(../img/imgright.png);
    background-repeat: no-repeat;
    background-size: 48.5%, 48.5%, 48.5%;
    background-position: bottom center, bottom left, bottom right;
}

.sites-teg {
    display: block;
    margin: 0 0 24px 0;
    font-family: Raleway-semibold;
    font-size: 30px;
    line-height: 1.2;
    color: #555555;
}

.sites-text {
    width: 750px;
    margin: 0 auto;
    font-family: Montserrat;
    font-size: 16px;
    line-height: 28px;
    color: #8c8c8c;
}

.add {
    display: flex;
    justify-content: center;
    background-color: #f4f5f8;
    background-image: linear-gradient(90.0deg, #211b19 0%, #4e3427 100%);
}

.add-left {
    margin: 48px 470px 49px 0;
}

.add-teg {
    margin: 0 0 8px 0;
    font-family: Raleway;
    font-size: 28px;
    line-height: 1.2;
    color: #ffffff;
}

.add-teg span {
    color: #c7b299;
}

.add-text {
    margin: 0;
    font-family: Montserrat;
    font-size: 18px;
    line-height: 1.2;
    color: #615855;
}

.add-button {
    margin: 50px 0 50px 0;
    font-family: Raleway-extrabold;
    font-size: 14px;
    line-height: 23px;
    border: none;
    text-transform: uppercase;
    color: #ffffff;
    background-color: #998675;
    border-radius: 3px;
    transition: 0.4s;
}

.add-button:hover {
    background-color: #362f2d
}

.add-button:active {
    background-color: #555555;
}

.photos {
    padding: 80px;
}

.photos-top {
    margin: 0 auto;
    width: 750px;
    text-align: center;
    margin-bottom: 40px;
}

.photos-teg {
    font-family: Raleway-semibold;
    font-size: 30px;
    line-height: 1.2;
    color: #555555;
}

.photos-text {
    margin: 24px 0 40px 0;
    font-family: Montserrat;
    font-size: 16px;
    line-height: 28px;
    color: #8c8c8c;
}

.photos-title {
    padding: 10px 20px 10px 20px;
    margin: 0 10px 0 0;
    width: 70px;
    font-family: Montserrat;
    font-size: 14px;
    line-height: 21px;
    font-weight: 300;
    color: #8c8c8c;
    border: 1px solid #ebebeb;
    border-radius: 3px;
    text-decoration: none;
    transition: 0.3s;
}

.photos-title:hover {
    color: #ffffff;
    background-color: #998675;
}

.photos-title:active {
    background-color: #555555;
}

.photos-center {
    margin: 0 auto;
    width: 1200px;
    display: flex;
    flex-wrap: wrap;
}

.photo-list {
    position: relative;
    margin: 0 30px 30px 0;
    transition: 0.2s;
}

.photo-list img {
    background-color: black;
    display: block;
    transition: 0.3s;
}

.photo-list-block {

    padding: 30px;
    background-color: #fbfaf8;
    position: relative;
    transition: 0.3s;
}

.photo-list-block:before {
    content: "";
    border: 20px solid transparent;
    border-bottom: 12px solid #fbfaf8;
    position: absolute;
    top: -32px;
    left: 41px;
    transition: 0.3s;
}
.photo-list-block span {
    font-family: Raleway-medium;
    font-size: 20px;
    line-height: 1.2;
    font-weight: 500;
    color: #c7b299;
    transition: 0.3s;
}

.photo-list:hover .photo-list-block {
    background-color: #362f2d;
}

.photo-list:hover .photo-list-block:before {
    border-bottom: 12px solid #362f2d;
}

.photo-list:hover img {
    filter: brightness(25%);
}



.photo-list:hover .photo-list-block span {
    color: #ffffff;
}

.photo-list-block p {
    font-family: Montserrat;
    font-size: 14px;
    line-height: 20px;
    font-weight: 300;
    color: #d1d1d1;
}

.photo-link,
.photo-search {
    display: none;
    border: none;
    background-color: transparent;
    position: absolute;
}

.photo-link {
    fill: #ffffff;
    left: 144px;
    top: 108px;
}

.photo-search {
    fill: #ffffff;
    top: 108px;
    right: 144px;
}

.photo-link:hover {
    fill: #c7b299;
}

.photo-search:hover {
    fill: #c7b299;
}

.p:hover {
    display: block;
}

.photo-list:hover .photo-search {
    display: block;
}

.photo-list:hover .photo-link {
    display: block;
}

.photo-list:hover .photo-list-block p {
    color: #c7b299;
}

.photo-list:hover:before {
    content: "";
    position: absolute;
    top: 35%;
    left: 35%;
    right: 0;
    bottom: 0;
}

.photos-botton {
    margin: 0 auto;
    width: 170px;
    padding: 20px 42px 20px 42px;
    font-family: Raleway-extrabold;
    font-size: 14px;
    line-height: 23px;
    font-weight: 800;
    border: none;
    text-transform: uppercase;
    color: #ffffff;
    background-color: #998675;
    border-radius: 3px;
    transition: 0.3s;
}

.photos-botton:hover {
    background-color: #362f2d;
}

.photos-botton:active {
    background-color: #555555;
}

.video {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url(../img/tableph.png);
    text-align: center;
    padding: 189px;
}

.video-button {
    fill: #ffffff;
    border: none;
    background-color: transparent;
    width: 100px;
    border: none;
    height: 100px;
    background-color: black;
    border-radius: 50%;
    background: rgba(0, 0, 0, 0.2);
    transition: 0.3s;
}

.video-button:hover {
    fill: #998675;
}


.video-teg {
    margin: 44px 0 0 0;
    font-family: Raleway-medium;
    font-size: 30px;
    line-height: 1.2;
    font-weight: 500;
    color: #ffffff;
}

.video-text {
    margin: 29px 0 0 0;
    width: 555px;
    font-family: Montserrat;
    font-size: 16px;
    line-height: 28px;
    font-weight: 300;
    color: #ffffff;
}

.video time {
    margin: 40px 0 0 0;
    font-family: Montserrat;
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    color: #c7b299;
}

.phone {
    padding: 79px 0 0 0;
    display: flex;
    justify-content: center;
}

.phone-photo {
    width: 423px;
    min-height: 616px;
    background-image: url(../img/hand.png);
}

.phone-right {
    margin: 116px 0 0 29px;
    width: 660px;
}

.phone-teg {
    font-family: Raleway-semibold;
    font-size: 30px;
    line-height: 1.2;
    color: #555555;
}

.phone-text {
    font-family: Montserrat;
    font-size: 16px;
    line-height: 28px;
    color: #8c8c8c;
}

.phone-list {
    list-style-type: none;
    font-family: Montserrat;
    font-size: 16px;
    line-height: 32px;
    color: #8c8c8c;
}

.phone-list-item {
    position: relative;
}

.phone-list-item:before {
    position: absolute;
    content: "";
    width: 21px;
    height: 21px;
    box-sizing: border-box;
    background-image: url(../img/lists1.png);
    top: 6px;
    left: -36px;
}

.inf {
    display: flex;
    justify-content: center;
    background-color: #f4f5f8;
    background-image: linear-gradient(90.0deg, #211b19 0%, #4e3427 100%);
    padding: 70px 0 60px 0;
}



.inf-features {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
    box-sizing: border-box;
    margin: 0 100px 0 0;
}

.inf-features:nth-child(5) {
    margin: 0;
}

.inf-features:hover svg {
    fill: #ffffff;
}

.inf-features:hover .inf-title {
    color: #c7b299;
}

.inf-features:hover .inf-txt {
    color: #ffffff;
}

.inf-features:hover:after {
    background-color: #c7b299;
}

.inf-features:after {
    content: "";
    display: block;
    width: 30px;
    height: 3px;
    background-color: #ffffff;
    transition: 0.4s;
}

.inf svg {
    fill: #c7b299;
    transition: 0.4s;

}

.inf-title {
    margin: 30px 0 20px 0;
    font-family: Montserrat-extralight;
    font-size: 48px;
    line-height: 36px;
    font-weight: 200;
    color: #ffffff;
    transition: 0.4s;
}

.inf-txt {
    margin: 0 0 30px 0;
    font-family: Montserrat;
    font-size: 14px;
    line-height: 20px;
    font-weight: 300;
    text-transform: uppercase;
    color: #c7b299;
    transition: 0.4s;
}

.posts {
    padding: 80px;
    text-align: center;
}

.posts-teg {
    font-family: Raleway-semibold;
    font-size: 30px;
    line-height: 1.2;
    font-weight: 600;
    color: #555555;
}

.posts-text {
    margin: 0 auto;
    font-family: Montserrat;
    font-size: 16px;
    line-height: 28px;
    font-weight: 300;
    width: 760px;
    color: #8c8c8c;
}

.posts-items {
    margin: 40px 0 0 0;
    display: flex;
    justify-content: center;
}

.posts-item {
    text-align: left;
    margin: 0 30px 0 0;
    width: 370px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    border: 1px solid #f8f8f8;
    transition: 0.3s;
}

.item-photo {
    position: relative;
}

.calendar {
    position: absolute;
    margin: 20px;
    text-align: center;
}

.calendar h2 {
    padding: 10px;
    margin: 0;
    font-family: Montserrat;
    font-size: 24px;
    line-height: 20px;
    font-weight: 300;
    color: #ffffff;
    background-color: #363636;
    border-radius: 3px 3px 0px 0px;
}

.calendar p {
    margin: 0;
    padding: 6px 13px 6px 13px;
    font-family: Roboto;
    font-size: 12px;
    line-height: 20px;
    font-weight: 400;
    color: #ffffff;
    background-color: #252525;
    border-radius: 0px 0px 3px 3px;
    transition: 0.3s;
}

.item-teg {
    margin: 30px 0 0 30px;
    font-family: Raleway-medium;
    font-size: 20px;
    line-height: 1.2;
    font-weight: 500;
    color: #555555;
    transition: 0.3s;
}

.item-text {
    margin: 20px 0 0 30px;
    font-family: Montserrat;
    font-size: 14px;
    line-height: 22px;
    font-weight: 300;
    color: #8c8c8c;
    transition: 0.3s;
}

.item-link {
    margin: 30px;
    text-decoration: none;
    font-family: Montserrat;
    font-size: 14px;
    line-height: 20px;
    font-weight: 300;
    color: #c7b299;
    position: relative;
}

.item-link:before {
    content: "";
    border: 5px solid transparent;
    border-left: 7px solid #c7b299;
    position: absolute;
    top: 5px;
    left: 82px;
}

.item-link:hover {
    color: white;

}

.item-link:hover:before {
    border-left: 7px solid white;
    ;

}

.item-link:active {
    color: #00bff3;
}

.item-link:active:before {
    border-left: 7px solid #00bff3;
    ;

}

.posts-item:hover {
    filter: brightness(0.7);
    background-color: #362f2d;
}

.posts-item:hover .item-teg {
    color: #c7b299
}

.posts-item:hover .item-text {
    color: #ffffff;
}

.posts-item:hover .calendar h2 {
    background-color: #c7b299;
}

.posts-item:hover .calendar p {
    background-color: #a48d72;
}

.posts svg {
    fill: #d1d1d1;
    margin: 40px 8px 0 0;
    width: 22px;
    height: 22px;
}

.posts svg:hover {
    fill: #c7b299;
}

.posts svg:active {
    fill: #555555;
}

.marcs {
    padding: 137px;
    text-align: center;

    background-image: url(../img/bgf.png);
}

.marcs img {
    margin: 0 90px 0 0;
    width: 210px;
    transition: 0.3s;
}

.marcs img:nth-child(1):hover {
    filter: brightness(50%);
}

.marcs img:nth-child(2):hover {
    filter: brightness(50%);
}

.marcs img:nth-child(3):hover {
    filter: brightness(50%);
}

.marcs img:nth-child(4):hover {
    filter: brightness(50%);
}

.marcs img:nth-child(4) {
    margin: 0;
}

.footer-top {
    padding: 0 0 80px 0;
    display: flex;
    justify-content: center;
    background-color: #191919;
}

.footer-block-left {
    margin: 25px 42px 0 0;
    width: 260px;
}

.footer-left-text {
    font-family: Montserrat;
    font-size: 14px;
    line-height: 24px;
    font-weight: 300;
    color: #555555;
    border-bottom: 2px;

}

.footer-block-left-link {
    margin: 0;
    text-decoration: none;
    font-family: Montserrat;
    font-size: 14px;
    line-height: 20px;
    color: #d1d1d1;
    position: relative;
    transition: 0.3s;
}

.footer-block-left-link:before {
    content: "";
    border: 5px solid transparent;
    border-left: 7px solid #d1d1d1;
    position: absolute;
    top: 5px;
    left: 82px;
    transition: 0.3s;
}

.footer-block-left-link:hover {
    color: #c7b299;
}

.footer-block-left-link:active {
    color: #00bff3;
}

.footer-block-left-link:hover:before {
    border-left: 7px solid #c7b299;
}

.footer-block-left-link:active:before {
    border-left: 7px solid #00bff3;
}

.footer-block-center {
    margin: 107px 40px 0 0;
    width: 274px;
    display: flex;
    flex-direction: column;
}

.footer-center-text {
    margin: 10px 0 0 0;
    font-family: Montserrat;
    font-size: 14px;
    line-height: 20px;
    color: #555555;
    transition: 0.3s;
}

.footer-center-text:hover {
    color: #c7b299;
}

.footer-top-date:hover {
    color: #ffffff;
}

.footer-center-text:after {
    margin: 20px 0 20px 0;
    content: "";
    display: block;
    width: 270px;
    height: 3px;
    background-color: #252525;
}

.footer-center-text:last-child:after {
    height: 0;
    margin: 0;
}

.footer-top-teg {
    margin: 0 0 30px 0;
    font-family: Raleway-bold;
    font-size: 24px;
    line-height: 1.2;
    color: #ffffff;
}

.footer-top-date {
    margin: 0;
    font-family: Montserrat;
    font-size: 12px;
    line-height: 20px;
    color: #363636;
    transition: 0.3s;
}

.footer-center2-text {
    margin: 0 0 10px 0;
    font-family: Montserrat;
    font-size: 14px;
    line-height: 20px;
    color: #555555;
    transition: 0.3s;
}

.footer-center2-text:hover {
    color: #c7b299;
}

.footer-center2-text span a {
    font-family: Montserrat;
    font-size: 14px;
    line-height: 20px;
    color: #00bff3;
    text-decoration: none;
    transition: 0.3s;
}

.footer-center2-text a:hover {
    color: #959595;
}

.footer-center2-text:before {
    margin: 20px 0 20px 0;
    content: "";
    display: block;
    width: 270px;
    height: 3px;
    background-color: #252525;
}

.footer-center2-text:nth-child(2):before {
    height: 0;
    margin: 0;
}

.footer-images {
    margin: 0 0 10px 0;
}

.footer-block-center img:nth-child(1) {
    margin: 0 10px 0 0;
}

.footer-bottom {
    padding: 45px;
    display: flex;
    justify-content: center;
    ;
    background-color: #111111;
}

.footer-links {
    margin: 0 450px 0 0;
    display: flex;
}

.footer-links:last-child {
    margin: 0;
}

.footer-link {
    margin: 0 10px 0 10px;
    font-family: Montserrat;
    font-size: 13px;
    line-height: 20px;
    font-weight: 300;
    color: #555555;
}



.footer-link:hover {
    color: #c7b299;
}


.addition {
    color: #959595;
}

.separation {
    margin: 0;
    color: #252525;
}
/*версия для планшета*/
@media only screen and (max-device-width: 1024px)  {
    .contain {
        width: 100%;
    }

    .menu {
        justify-content: space-between;
    }

    .logo {
        margin: 55px 0 0 0;
    }

    #menu__toggle {
        display: flex;
        margin: 40px 0px 0 26px;
    }

    .menu__box {
        display: flex;
    }

    .menu__btn {
        display: block;
    }

    .top-center {
        display: none;
    }

    .top-lists {
        flex-direction: column;
        margin: 62px 25px 0 0;
    }

    .top-list {
        display: none;
    }

    .top-list-img1 {
        margin: 12px 44px 35px 0px;
    }

    .points {
        display: none;
    }

    .center-features {
        flex-wrap: wrap;
    }

    .features {
        margin-right: 41px;
    }

    .features:nth-child(2) {
        margin-right: 0;
    }

    .features:nth-child(4) {
        margin-right: 0;
    }

    .sites {
        min-height: 600px;
    }

    .sites-text {
        width: auto;
    }

    .add-left {
        margin: 48px 70px 49px 0;
    }

    .photos-top {
        width: 624px;
    }

    .photos-center {
        width: 400px;
    }

    .video {
        display: none;
    }

    .phone {
        padding: 0;
    }

    .phone-photo {
        display: none;
    }

    .phone-right {
        margin: 51px 0 28px 29px;
    }

    .inf-features {
        margin: 0px 32px 0 0;
    }

    .post-text {
        width: auto;
    }

    .posts-items {
        flex-wrap: wrap;
    }

    .footer-top {
        display: none;
    }

    .marcs {
        padding: 106px;
    }

    .marcs img {
        margin: 0px 29px 0 0;
        width: 114px;
    }

    .footer-links {
        margin: 0px 140px 0 0;
    }
}
/*версия для телефона*/
@media only screen and (max-device-width: 470px) {
    .posts-text {
        width: auto;
    }

    .marcs img {
        width: 110px;
    }



}
